header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081b28;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    animation: slideRight 1s ease;
}

.logo:hover{
    transform: scale(1.1);
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition:  .3s;
    animation: slideTop 1s ease;
}

.navbar a:hover{
    color: #0ef;
    font-weight: bold;
}

a.active{
    color: #0ef !important;
    font-weight: bold !important;
}

.offcanvas {
    background-color: #081b28;
    width: 45%;
}

.offcanvas-header h5{
    box-sizing: border-box;
    margin: 0 auto;
}

::ng-deep .btn-close{
    --bs-btn-close-bg: none;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.offcanvas-body nav a{
    width: 100%;
   margin-left: 0;
   margin-bottom: 20px;
}
/* .offcanvas-body nav li{
    font-size: 15px;
} */


@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
