<app-header></app-header>
<section class="home row">
    <div class="home-content col-12 col-md-7 text-center text-md-start">
        <h3>Hello, It's Me</h3>
        <h1>Abdo Ibrahim</h1>
        <h3>And I'm a <span class="text"></span></h3>
        <p>I'm a web Developer with experience for over four months.
            <br>expertise is to create and design websites, Frontend design , and many more....
        </p>
        <div class="home-sci">
            <a href="#" style="--i:1"><i class='bx bxl-facebook'></i></a>
            <a href="#" style="--i:2"><i class='bx bxl-instagram' ></i></a>
            <a href="#" style="--i:3"><i class='bx bxl-github' ></i></a>
            <a href="#" style="--i:4"><i class='bx bxl-linkedin-square' ></i></a>
        </div>
        <a href="#" class="btn-box">More About Me</a>
    </div>    
    <div class="img-content col-12 col-md-5 my-5 my-md-0">
        <img src="../../../assets/pictures/me.jpeg" class="img-custom img-fluid rounded-circle w-lg-75 mx-auto d-block" alt="">
    </div>
</section>