<app-header></app-header>
<section class="home row mx-0 mb-5" id="home">
    <div class="home-content col-12 col-md-7 text-center text-md-start">
        <h3>Hello, It's Me</h3>
        <h1>Abdo Ibrahim</h1>
        <h3>And I'm a <span class="text"></span></h3>
        <p>I'm a web Developer with experience for over four months.
            <br>expertise is to create and design websites, Frontend design , and many more....
        </p>
        <div class="home-sci">
            <a href="#" style="--i:1"><i class='bx bxl-facebook'></i></a>
            <a href="#" style="--i:2"><i class='bx bxl-instagram' ></i></a>
            <a href="#" style="--i:3"><i class='bx bxl-github' ></i></a>
            <a href="#" style="--i:4"><i class='bx bxl-linkedin-square' ></i></a>
        </div>
        <a href="#" class="btn-box">More About Me</a>
    </div>    
    <div class="img-content col-12 col-md-5 my-5 my-md-0">
        <img src="../../../assets/pictures/me.jpeg" class="img-custom img-fluid rounded-circle w-75 mx-auto d-block" alt="">
    </div>
</section>

<section id="about" class="about container px-5 my-5">
    <div class="row mx-0 mt-5">
        <div class="about-img col-12 col-md-4 my-5">
            <img src="../../../assets/pictures/abdo1.jpeg" alt="" class="img-custom-1 img-fluid rounded-circle mx-auto d-block">
        </div>
        
        <div class="about-text col-12 col-md-8 text-center text-md-start px-5">
            <h2>About <span>Me</span></h2>
            <h4>Frontend Developer!</h4>
            <p>
                I am a fourth-year computer engineering student aspiring to transition into a career as a front-end developer. I have experience in Angular, React, JavaScript, CSS, and HTML, I am actively seeking an entry level position in the field of web development. I am enthusiastic about leveraging my programming knowledge and skills for continuous improvement in creating user-friendly and interactive web experiences.
            </p>
            <a href="#" style="width: fit-content;" class="btn-box align-self-center align-self-md-start">More About Me</a>
        </div>
    </div>
</section>

<section class="mt-5" id="services">
    <div class="services" id="services">
        <div class="container my-5 pt-5">
            <h1 class="sub-title my-5">My <span>Services</span></h1>
            <div class="services-list">
                <div class="service-item">
                    <i class='bx bx-code' style='color:#20e9e8'  ></i>
                    <h2>UX/UI Design</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quaerat quasi numquam deleniti perspiciatis molestiae magnam debitis expedita omnis deserunt.</p>
                    <a href="#" class="btn-box">Learn More</a>
                </div>
                <div class="service-item">
                    <i class='bx bx-crop' style='color:#20e9e8' ></i>
                    <h2>UX/UI Design</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quaerat quasi numquam deleniti perspiciatis molestiae magnam debitis expedita omnis deserunt.</p>
                    <a href="#" class="btn-box">Learn More</a>
                </div>
                <div class="service-item">
                    <i class='bx bx-bolt-circle' style='color:#20e9e8' ></i>
                    <h2>UX/UI Design</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quaerat quasi numquam deleniti perspiciatis molestiae magnam debitis expedita omnis deserunt.</p>
                    <a href="#" class="btn-box">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="skills row mx-0" id="skills">
    <h2 class="sub-title col-12 py-5 my-5">My <span>Skills</span></h2>
    <div class="container1 col-12 col-md-6 px-md-5">
        <h1 class="heading1">Technical Skills</h1>
        <div class="technical-bars px-md-5">
            <div class="bar">
                <i class='bx bxl-html5' style='color:#d72b2b' ></i>
                <div class="info">
                    <span>HTML</span>
                </div>
                <div class="progress-line html">
                    <span></span>
                </div>
            </div>
            <div class="bar">
                <i class='bx bxl-css3' style='color:#147bbc' ></i>
                <div class="info">
                    <span>CSS</span>
                </div>
                <div class="progress-line css">
                    <span></span>
                </div>
            </div>
            <div class="bar">
                <i class='bx bxl-javascript' style='color:#ebdd1a' ></i>
                <div class="info">
                    <span>JavaScript</span>
                </div>
                <div class="progress-line javascript">
                    <span></span>
                </div>
            </div>
            <div class="bar">
                <i class='bx bxl-angular' style='color:#ee0b0b' ></i>
                <div class="info">
                    <span>Angular</span>
                </div>
                <div class="progress-line angular">
                    <span></span>
                </div>
            </div>
            <div class="bar">
                <i class='bx bxl-react' style='color:#3ab9e4' ></i>
                <div class="info">
                    <span>React</span>
                </div>
                <div class="progress-line react">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container1 col-12 col-md-6 px-md-5 py-5 py-md-0">
        <h1 class="heading1"> Professional Skills</h1>
        <div class="radial-bars row">
            <div class="radial-bar col-12 col-sm-6 text-center mb-5">
                <div class="svg-percentage">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                       <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                       <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">95%</div>
                </div>
                <div class="text">Creativity</div>
            </div>
            <div class="radial-bar col-12 col-sm-6 text-center mb-5">
                <div class="svg-percentage">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                       <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                       <circle class="path path-2" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">65%</div>
                </div>
                <div class="text">Communincation</div>
            </div>
            <div class="radial-bar col-12 col-sm-6 text-center mb-5">
                <div class="svg-percentage">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                       <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                       <circle class="path path-3" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">85%</div>
                </div>
                <div class="text">Problem Solving</div>
            </div>
            <div class="radial-bar col-12 col-sm-6 text-center mb-5">
                <div class="svg-percentage text-center">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                       <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                       <circle class="path path-4" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">75%</div>
                </div>
                <div class="text">TeamWork</div>
            </div>
        </div>
    </div>
</section>

<section id="projects" class="portfolio px-md-5 py-5">
    <div class="main-text px-md-5" id="project">
        <h2 class="sub-title py-5 my-5">Latest <span>Projects</span></h2>

        <div class="portfolio-content row mx-5 px-lg-5 mx-lg-5">
            <div class="col-12 col-md-6 text-center px-0">
                <div class="project mb-3">
                    <img src="../../../assets/pictures/newspaper.png" alt="">
                    <div class="layer">
                        <h5>Newspaper Project</h5>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere vitae natus eaque quasi amet ab distinctio ipsam et unde laboriosam.</p>
                        <a href="#"><i class='bx bx-link-external'></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 text-center px-0">
                <div class="project mb-3">
                    <img src="../../../assets/pictures/movie.png" alt="">
                    <div class="layer">
                        <h5>Movie App Project</h5>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere vitae natus eaque quasi amet ab distinctio ipsam et unde laboriosam.</p>
                        <a href="#"><i class='bx bx-link-external'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact row mx-0 px-5 py-5" id="contact">
    <div class="contact-text col-12 col-md-6 px-md-5">
        <div class="ps-lg-5">
            <h2 class="sub-title">Contact <span>Me</span></h2>
            <h4>Let's Work Together</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, quisquam? Minima voluptatum quidem quas expedita. Doloremque nam mollitia dolores sit.</p>
            <div class="contact-list">
                <li><i class='bx bxs-send' style='color:#3ab9e4'></i> abdoibrahim19981998&#64;gmail.com</li>
                <li><i class='bx bxs-phone' style='color:#3ab9e4'></i> +(90)535 593 32 30</li>
            </div>
            <div class="home-sci contact-icons">
                <a href="#"><i class='bx bxl-instagram' style='color:#3ab9e4'></i></a>
                <a href="#"><i class='bx bxl-whatsapp' style='color:#3ab9e4'></i></a>
                <a href="#"><i class='bx bxl-github' style='color:#3ab9e4'></i></a>
                <a href="#"><i class='bx bxl-linkedin-square' style='color:#3ab9e4'></i></a>
            </div>
        </div>
    </div>
    <div class="contact-form col-12 col-md-6 px-md-5">
        <div class="pr-lg-5">
            <form action="">
                <input type="text" placeholder="Name" required>
                <input type="email" placeholder="E-mail" required>
                <input type="text" placeholder="Subject" required>
                <textarea name="" id="" cols="40" rows="10" placeholder="Message"></textarea>
                <button type="submit" class="send btn-box">Send</button>
            </form>
        </div>
    </div>
</section>

<a href="#" class="top"><i class='bx bx-up-arrow-alt' ></i></a>